Source: audit-config
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.5.1
Homepage: https://www.starlingx.io

Package: audit-config
Architecture: any
Depends:
  ${misc:Depends},
  auditd,
Description: StarlingX audit configuration files
 StarlingX configuration files of audit to system folder.
