[Unit]
Description=StarlingX Filesystem Common
After=network.target rpcbind.service
Before=nfs-server.service mountnfs.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/bin/test -f /etc/platform/platform.conf
ExecCondition=/bin/bash -c '! grep -q "^system_mode=simplex" /etc/platform/platform.conf'
ExecStart=/etc/init.d/nfscommon start
ExecStop=/etc/init.d/nfscommon stop

[Install]
WantedBy=multi-user.target
