[Unit]
Description=StarlingX Filesystem Server
After=network.target nfs-common.service hwclock.service
Before=ntp.service

[Service]
Type=oneshot
RemainAfterExit=yes
ExecCondition=/bin/test -f /etc/platform/platform.conf
ExecCondition=/bin/bash -c '! grep -q "^system_mode=simplex" /etc/platform/platform.conf'
ExecStart=/etc/init.d/nfsserver start
ExecStop=/etc/init.d/nfsserver stop

[Install]
WantedBy=multi-user.target
