Source: ntp-config
Section: admin
Priority: optional
Maintainer: Starlingx Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.4.1
Homepage: https://www.starlingx.io

Package: ntp-config
Architecture: all
Depends:
  ${misc:Depends},
  libnet-ntp-perl,
  ntpsec,
Description: StarlingX ntp Configuration File
 Initializes ntpsec config files with default values for StarlingX
