#!/usr/bin/make -f

%:
	dh $@

override_dh_install:
	install -D -m 644 containerd-pmon.conf usr/share/starlingx/pmon.d/containerd.conf
	install -D -m 644 containerd-stx-override.conf etc/systemd/system/containerd.service.d/containerd-stx-override.conf
	dh_install
